body.active-modal {
  overflow-y: hidden;
  width: 100%;
}

/* Modal visibility */
.Visible {
  visibility: visible;
}

.Hidden {
  visibility: hidden;
}

/* Overlay background */
.Modal-Overlay {
  background: rgba(49, 49, 49, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Modal wrapper */
.Modal-Wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

/* Cart panel */
.Cart {
  position: absolute;
  right: -800px;
  height: 100%;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 30;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease;
  background-color: #ffffff;
}

.ShowCart {
  right: 0;
  transform: translateX(0);
  opacity: 1;
}

.HideCart {
  right: -800px;
}

/* Header */
.Cart-Header {
  position: relative;
  padding: 16px;
  display: flex;
  align-items: center;
  height: 43px;
  /* margin-bottom: 5px; */
  color: #333;
  gap: 10px;
}

.Cart-Header h6 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

/* Cart Items List */
.Populated-Cart {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

/* Single cart item */
.Cart-Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.Cart-Item-Image {
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.Cart-Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Cart-Buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Cart-Button:hover {
  transform: scale(1.02);
}

.Cart-Item-Title {
  font-size: 14px !important;
}

.Cart .quantity-input-container {
  width: 70px;
}

.Cart-Item-Info {
  color: #333 !important;
}

.Cart-Total-Amount {
  color: #333 !important;
}

.Cart-Discard-Button {
  border-radius: 0 !important;
  text-transform: capitalize !important;
  border-radius: 5px !important;
}

.Cart-Proceed-Button {
  background-color: #d87d4a;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #d87d4a;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/* Responsive */
@media (min-width: 600px) {
  .Cart {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .Cart {
    width: 380px;
  }
}
