.product-gallery {
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.product-gallery .main-slider {
  width: 100%;
  aspect-ratio: 4/4;
  border-radius: 5px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-gallery .main-slider img {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px;
}

.product-gallery .thumbs-slider {
  margin-top: 10px;
  width: 100%;
  max-width: 800px;
}

.product-gallery .thumbs-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/3;
}

.product-gallery .thumbs-slider .swiper-slide:hover {
  opacity: 1;
}

.product-gallery .thumbs-slider .swiper-slide-thumb-active {
  opacity: 1;
  /* border: 2px solid #000; */
  border-radius: 5px;
  box-sizing: border-box;
}

.product-gallery .thumbs-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-gallery .swiper-pagination-progressbar-fill {
  background-color: #D87D4A;
}

/* Navigation arrows styling */
.product-gallery .swiper-button-next,
.product-gallery .swiper-button-prev {
  color: #d87d4a;
  width: 30px;
  height: 30px;
}

.product-gallery .swiper-button-next::after,
.product-gallery .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.product-gallery .swiper-button-next:hover,
.product-gallery .swiper-button-prev:hover {
  color: #000;
}

@media (min-width: 900px) {
  .product-gallery {
    max-width: 400px;
  }
  .product-gallery .main-slider img {
    /* padding: 100px; */
  }
}

@media (min-width: 1200px) {
  .product-gallery {
    max-width: 500px;
  }
}

@media (min-width: 1536px) {
  .product-gallery {
    max-width: 670px;
  }
}


/* Mobilni telefoni u landscape modu */
@media (max-width: 900px) and (orientation: landscape) {
  .product-gallery .main-slider {
    aspect-ratio: 5/5;
    height: 200px;
    /* max-height: 200px; */
    height: 350px;
  }
  
  .product-gallery .thumbs-slider {
    margin-top: 5px;
  }
}