.Footer {
  width: 100%;
  background-color: #131313;
  order: -1;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  box-sizing: border-box;
}

.Footer-Logo-Container {
  text-align: center;
}

.Footer-Description-Container {
  padding-top: 0 !important;
}

.Footer-Description,
.Footer-Copyright {
  color: #ffffff;
  font-family: 'Manrope-Medium';
  font-size: 13px !important;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 0.5;
  text-align: center;
}

.Footer-Copy-Right p:nth-child(1) {
  color: #ffffff;
  font-family: 'Manrope-Bold', Helvetica;
  /* font-size: 15px; */
  font-weight: 700;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.5;
  width: 540px;
  text-align: left;
}

.Footer-Social-Icon {
  cursor: pointer;
}

.Footer-Social-Icon:hover {
  color: #d87d4a !important;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .Footer {
    justify-content: start;
    height: unset;
    padding: 40px;
    gap: 40px;
  }
  .Footer-Description,
  .Footer-Copyright {
    text-align: left;
  }
  .Footer-Description {
    width: 340px;
  }
  .Social-Icons {
    position: relative;
    bottom: 40px;
  }
}

@media screen and (min-width: 900px) {
  .Footer {
    padding: 40px 80px;
  }
}

@media screen and (min-width: 1200px) {
  .Footer {
    padding: 65px 100px 48px 100px;
  }
  .Footer-Description {
    width: 500px;
  }
}

@media screen and (min-width: 1536px) {
  .Footer {
    padding: 40px 200px 40px 200px;
  }
  .Footer-Description {
    width: unset;
  }
}
